* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;
}

.container {
    max-width: 1024px;
    margin-inline: auto;
}

body {
    background-image: linear-gradient(200deg, transparent 0%, lightgray 100%);
}