main {
    margin-block: 40px;

    #projects {
        margin-top: 18px;
        padding-inline: 40px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

        figure {
            padding: 18px 24px;
            background-color: #FFFFFF;
            border: none;
            border-radius: 8px;
            box-shadow: 0 14px 16px #8f8f8f;
            filter: grayscale(60%);
            transition-property: filter;
            transition-duration: .2s;
            
            &:hover {
                filter: grayscale(0);
            }
            
            img {
                max-width: 100%;
                aspect-ratio: 16/9;
                object-fit: cover;
                border-radius: 8px;
            }
            
            figcaption {
                h2 {
                    color: #6C6C6C;
                    margin-top: 8px;
                }
                
                p {
                    margin-top: 12px;
                    font-size: 14px;
                    line-height: 140%;
                }
    
                a {
                    margin-top: 12px;
                    display: inline-block;
                    text-decoration: none;
                    border-radius: 8px;
                    border: 1px solid #6C6C6C;
                    padding: 12px;
                    color: inherit;
                    
                    &:hover {
                        box-shadow: 0 0 5px #6C6C6C;
                    }
                }
            }
        }
    }
}

@media (max-width: 810px) {
    main {
        #projects {
            grid-template-columns: 1fr;
        }
    }
}